[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.24"
gunicorn = "==19.3.0"
pillow = "*"
ipython = "*"
django-compressor = "==1.5"
djangorestframework = "==3.1.3"
django-filter = "==0.10.0"
markdown = "==2.6.2"
"psycopg2" = "*"
"psycopg2-binary" = "*"
requests = "*"
tornado = "==4.2"
tornado-redis = "==2.4.18"
redis = "==2.10.3"

[dev-packages]

[requires]
python_version = "3.6"
